<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>508733132694-ah67tk9d9v69neht0v2um8af9slm8al7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508733132694-ah67tk9d9v69neht0v2um8af9slm8al7</string>
	<key>API_KEY</key>
	<string>AIzaSyBRVv2kBhWBeomoH970VVqoRSQiOZwkfPE</string>
	<key>GCM_SENDER_ID</key>
	<string>508733132694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>OceanShare</string>
	<key>PROJECT_ID</key>
	<string>oceanshare-1519985626980</string>
	<key>STORAGE_BUCKET</key>
	<string>oceanshare-1519985626980.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508733132694:ios:4b2842c170788add</string>
	<key>DATABASE_URL</key>
	<string>https://oceanshare-1519985626980.firebaseio.com</string>
</dict>
</plist>